<h1>Welcome to Rhythmo</h1>
<h2>A new way to authenticate users</h2>

<div class="authbar">
<button type="button" id="login" onclick=login()>Login</button>
<button type="button" id="signup" onclick=signup()>Sign Up</button> 
</div>
